body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 600px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}
#top-photo {
	max-width: 600px;
}
.photos300 {
	max-width: 300px;
}
.btns {
  background-color: yellow;
  border: medium solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
}
.collapsible {
	position: relative;
	padding-bottom: 0.5em;
  }
  .collapsible:not(.open) > * {
	display: none;
  }
  .collapsible:not(.open) > p:first-child {
	display: block;
  }

  .collapsible > .toggler {
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	background: #ddd;
	text-align: center;
	cursor: pointer;
  }
  .collapsible > .toggler::after {
	content: "\25bc";
  }
  .collapsible.open > .toggler::after {
	content: "\25b2";
  }
.rest-pics {
	max-width: 200px;
	max-height: 200px;
}
.rest-text {
	line-height: 14px ;
}
#introduction {
	text-align: right;
	
}


#submit {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

#submit:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#submit:active {
    color: #000
}

#submit:active:after {
    background: transparent;
}

#submit:hover:before {
    opacity: 1;
}

#submit:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} 
